<div class="questionnaire-container">
  <div class="questionnaire-container__content">
    <div class="questionnaire-container__list">

      <div class="questionnaire-container__list-item" *ngFor="let questionItem of currentQuestionnaireList">

        <img [src]="questionItem.src" alt="" *ngIf="!questionItem.avatar && questionItem.type === 'image'"
             [style]="questionItem.style">

        <div class="questionnaire-container__image-type-row"
             *ngIf="questionItem.avatar && questionItem.type === 'image'">
          <div class="questionnaire-container__avatar-img-container">
            <img alt="" class="questionnaire-container__avatar-img">
          </div>
          <img [src]="questionItem.src" class="questionnaire-container__image has-avatar" alt=""
               [style]="questionItem.style">
        </div>

                <div class="questionnaire-container__audio-type-row" *ngIf="!questionItem.avatar && questionItem.type === 'audio'">
                  <div plyr plyrType="audio" [plyrPlaysInline]="true" (plyrEnded)="plyrEnded()" (plyrReady)="plyrReady()"
                       [plyrSources]="questionItem.src" class="questionnaire-container__audio"></div>
                </div>

        <div class="questionnaire-container__audio-type-row"
             *ngIf="questionItem.avatar && questionItem.type === 'audio'">
          <div class="questionnaire-container__avatar-img-container">
            <img alt="" class="questionnaire-container__avatar-img">
          </div>
          <div plyr plyrType="audio" [plyrPlaysInline]="true"
               [plyrSources]="questionItem.src" (plyrEnded)="plyrEnded()" (plyrReady)="plyrReady()"
               class="questionnaire-container__audio has-avatar"></div>
        </div>

        <div class="questionnaire-container__text-type-row"
             *ngIf="!questionItem.avatar && questionItem.type === 'text'">
          <div class="questionnaire-container__text-type-container">
            <div class="questionnaire-container__text-type-content">
              <p *ngFor="let questionItemText of questionItem.src" [innerHTML]="questionItemText"></p>
            </div>
          </div>
        </div>

        <div class="questionnaire-container__text-type-row" *ngIf="questionItem.avatar && questionItem.type === 'text'">
          <div class="questionnaire-container__avatar-img-container">
            <img alt="" class="questionnaire-container__avatar-img">
          </div>
          <div class="questionnaire-container__text-type-container">
            <div class="left-arrow"></div>
            <div class="questionnaire-container__text-type-content">
              <p *ngFor="let questionItemText of questionItem.src" [innerHTML]="questionItemText"></p>
            </div>
          </div>
        </div>
        <div class="questionnaire-container__user" *ngIf="questionItem.type === 'userAnswer'">
          <div class="questionnaire-container__user-message" style="background: rgb(101, 162, 220);">
            <div class="right-arrow"
                 style="border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgb(101, 162, 220) rgb(101, 162, 220);">
            </div>
            <p class="questionnaire-container__user-text" style="color: rgb(255, 255, 255);">{{questionItem.src}}</p>
          </div>
        </div>
        
        <div class="questionnaire-container__form">
          <mat-card>
            <div class="questionnaire-container__form-container">
              <div fxLayout="row" fxLayoutAlign="space-between">
              <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-between" [formGroup]="profileForm">
                <mat-form-field appearance="outline">
                  <mat-label>Фамилия</mat-label>
                  <input matInput formControlName="lastname">
                  <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                  
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Имя, Отчество</mat-label>
                  <input matInput formControlName="firstNameAndMiddleName">
                  <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                  
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Электронная почта</mat-label>
                  <input matInput formControlName="email">
                  <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                  
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Мобильный телефон</mat-label>
                  <input matInput formControlName="mobilePhone">
                  <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                  
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Дата рождения</mat-label>
                  <input matInput formControlName="birthDate" [matDatepicker]="picker">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
                  <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                  
                </mat-form-field>
              </div>
            </div>
              </div>                    
          </mat-card>
        </div>
        

      </div>

      <div class="print" *ngIf="isPrinting">
        <div class="questionnaire-container__avatar-img-container">
          <img alt="" class="questionnaire-container__avatar-img">
        </div>
        <div class="print__message-container">
          <div class="lds-ellipsis message">
            <div class="points"></div>
            <div class="points"></div>
            <div class="points"></div>
            <div class="points"></div>
            <div class="left-arrow"></div>
          </div>
        </div>
      </div>

      <div class="answers" *ngIf="currentAnswerButtons.length > 0">
        <button class="answers__btn" *ngFor="let answerBtnObj of currentAnswerButtons"
                (click)="loadData(answerBtnObj.relatedId, answerBtnObj.src)">
          <p>{{answerBtnObj.src}}</p>
        </button>
      </div>
    </div>
  </div>
</div>
